<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-ow-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OWMobilePlugin</name>
    
    <js-module name="OWMobilePlugin" src="www/OWMobilePlugin.js">
        <clobbers target="OWMobilePlugin" />
    </js-module>
  
    <platform name="android">
        <source-file src="src/android/com/pl/onewelcome/OWMobilePlugin.java"
            target-dir="src/com/pl/onewelcome/" />
    </platform>
  
    <platform name="ios">
        <source-file src="src/ios/OWMobilePlugin.m" />
    </platform>
</plugin>
