<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-ow-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>OWMobilePlugin</name><js-module name="OWMobilePlugin" src="www/OWMobilePlugin.js"><clobbers target="cordova.plugins.OWMobilePlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="OWMobilePlugin"><param name="android-package" value="cordova-ow-plugin.OWMobilePlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/OWMobilePlugin.java" target-dir="src/cordova-ow-plugin/OWMobilePlugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="OWMobilePlugin"><param name="ios-package" value="OWMobilePlugin" /></feature></config-file><source-file src="src/ios/OWMobilePlugin.m" /></platform></plugin>